<% @slide = Slide.find(:all)%>
<% @slide.each do |slide|%>
<div class="slide" data-blurred="/img/transparent.png">
	<div class="content">
		<h2><%= slide.title %></h2>
		<p><%= slide.description %></p>
	</div>
	<div class="image">
		<%= image_tag slide.photo.url(:medium) %>
	</div>
</div>
<%end%>