<style>
#head-banner
{
	height: 55px;
	width: auto !important;
	margin: 0;
	/*background: #2A0C28;*/
    background: #333333;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding: 0px 0px;
	color: #FFF;
    border-bottom: 10px solid #222;
    margin: 0px;
}

#head-banner h1, 
#head-banner h2,
#head-banner h3,
#head-banner h4,
#head-banner h5,
#head-banner h6,
#head-banner p, {
	color: #FFF;
	font-weight: 300;	
}
</style>
<div id="head-banner">
<p style="font-size: 24px; padding-top: 10px; line-height: 100%;">Sastra Creations Pvt. Ltd.</p>
<!--<p style="font-size: 9px; line-height: 20%; margin-top: -20px; margin-left: 2px;">Developers&trade;</p>-->
</div>