<div id="stamp" class="container" >
	<h4 style="text-align: center; color: #FFFFFF; line-height: 8em; text-weight: 100px; opacity: .5;">CaMS</h4>
</div>
<div id="copyright" class="container">
	<p>Copyright (c) 2013. All rights reserved. | Design and Developed by <a href="#">Beetle
	<img src="/images/beetle/beetle-18x16.png"/></a>.
	</p>
</div>
</body>
</html>