<style>
.foot-col1 h4, .foot-col2 h4, .foot-col3 h4, .foot-col4 h4,.foot-col5 h4
{
    color: #AAAAAA;
    text-align: left;
    font-weight: 300;
}
.foot-col1 a, .foot-col2 a, .foot-col3 a, .foot-col4 a,.foot-col5 a
{
    color: #AAAAAA;
    text-align: left;
    font-weight: 100;
}
.foot-col1 p, .foot-col2 p, .foot-col3 p, .foot-col4 p,.foot-col5 p
{
    color: #AAAAAA;
    text-align: left;
    font-weight: 100;
}
</style>

<div id="footer-wrapper">
  <div id="footer-columns">
    <div class="foot-col1">
      <h4>Catering Management System</h4>
      <p>1001-1003 Lake Drive SE<br/>
        Grand Rapids, MI 49503<br/>
        East Hills Center (of the Universe)<br/>
        P: (616) 454-4020<br/>
        F: (616) 454-4244<br/>
        <strong><a href="#">info@mariecatribs.com</a></strong></p>
    </div>
    <div class="foot-col2">
      <h4>Hours</h4>
      <ul>
        <li><a href="#">M-F 7am - 11am (Breakfast)</a></li>
        <li><a href="#">M-F 11am - 8pm (Lunch/Dinner)</a></li>
        <li><a href="#">Sat 8am - 12pm (Breakfast)</a></li>
        <li><a href="#">Sat 12pm - 4pm (Lunch)</a></li>
      </ul>
    </div>
    <div class="foot-col3">
      <h4>About</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Shipping Info</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Donations</a></li>
      </ul>
    </div>
    <div class="foot-col4">
      <h4>Restaurant</h4>
      <ul>
        <li><a href="#">View Full Menu</a></li>
        <li><a href="#">Catering</a></li>
        <li><a href="#">Deli / Take-Out</a></li>
      </ul>
    </div>
    <div class="foot-col5">
      <h4>Store</h4>
      <ul>
        <li><a href="#">Shop Now</a></li>
        <li><a href="#">Gift Certificates</a></li>
      </ul>
    </div>
  </div>
    <div id="stamp" class="container" >

    </div>
    <div id="copyright" class="container">
        <p>Copyright &copy 2013. All rights reserved. | Design and Developed by <a href="#">Sastra Creation Pvt. Ltd.</a>.
        </p>
    </div>
</div>
</body>
</html>