<%= render :partial => 'header/header' %>

<%= render :partial => 'navigation/navigation' %>
<div id="wrapper">
<hr />
Hello! <br />
<hr />
World! <br />
<hr />
Testing! <br />
<hr />
Page! <br />
<hr />
</div>
<%= render :partial => 'footer/footer' %>