<style type="text/css">
	h4 {
		color: #000;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}
</style>
<script type="text/javascript">

//CALANDER BG EFFECT
	$(function() {
	  $(".fc-day-content").find("span")
	  .hide() // Finds span hide.
	  .end() // After find stop.
	  .hover(function() { // On hover find and fadein then fadeout
	    $(this).find("span").stop(true, true).fadeIn();
	  }, function() {
	    $(this).find("span").stop(true, true).fadeOut();
	  });
});
</script>

<script>

  $(document).ready(function() {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        var mday = start.getDate();
        var mmonth = start.getMonth();
        mmonth++;
        var myear = start.getFullYear();
        var _fulldate = mday+'-'+mmonth+'-'+myear;

        var cdate = new Date();
        var cday = cdate.getDate();
        var cmonth = cdate.getMonth();
        cmonth++;
        var strMonth;
        switch(mmonth) {
          case 1:
            strMonth = 'January';
            break;
          case 2:
            strMonth = 'February';
            break;
          case 3:
            strMonth = 'March';
            break;
          case 4:
            strMonth = 'April';
            break;
          case 5:
            strMonth = 'May';
            break;
          case 6:
            strMonth = 'June';
            break;
          case 7:
            strMonth = 'July';
            break;
          case 8:
            strMonth = 'August';
            break;
          case 9:
            strMonth = 'September';
            break;
          case 10:
            strMonth = 'October';
            break;
          case 11:
            strMonth = 'November';
            break;
          case 12:
            strMonth = 'December';
            break;
        }

        var cyear = cdate.getFullYear();
        
        if (myear == cyear && mmonth >= cmonth && mday > cday) {
          //return phone, _fulldate;
          var book = confirm("Do you want to book for " + mday + " " + strMonth + " " + myear +"?");

          if (book) {calendar.fullCalendar('renderEvent',{},
              true // make the event "stick"
            );
            //window.open("localhost:3000//menus/show?mdate="+mdate,"_self")
            window.open("/menus/show?mdate=" + _fulldate , "_blank");
          }
          else {
            alert('Your booking is cancelled!');
          }
        }
        else if (myear > cyear) {
          //return phone, _fulldate;
          var book = confirm("Do you want to book for " + mday + " " + strMonth + " " + myear +"?");

          if (book) {calendar.fullCalendar('renderEvent',{},
              true // make the event "stick"
            );
            //window.open("localhost:3000//menus/show?mdate="+mdate,"_self")
            window.open("/menus/show?mdate=" + _fulldate , "_blank");
          }
          else {
            alert('Your booking is cancelled!');
          } 
        }
        else if (myear >= cyear && myear <= cyear+1) {
          //return phone, _fulldate;
          if (mmonth == cmonth) {
            if (mday > cday) {
              var book = confirm("Do you want to book for " + mday + " " + strMonth + " " + myear +"?");

              if (book) {calendar.fullCalendar('renderEvent',{},
                  true // make the event "stick"
                );
              	//window.open("localhost:3000//menus/show?mdate="+mdate,"_self")
              	window.open("/menus/show?mdate=" + _fulldate , "_blank");
              }
              else {
              	alert('Your booking is cancelled!');
              }
            }
            else {
              alert('You cannot book for past!');    
            }
          }
          else if (mmonth > cmonth) {
              var book = confirm("Do you want to book for " + mday + " " + strMonth + " " + myear +"?");

              if (book) {calendar.fullCalendar('renderEvent',{},
                  true // make the event "stick"
                );
                //window.open("localhost:3000//menus/show?mdate="+mdate,"_self")
                window.open("/menus/show?mdate=" + _fulldate , "_blank");
              }
              else {
                alert('Your booking is cancelled!');
              }
          }
          else {
            alert('You cannot book for past!');;
          } 
        }
        else if (mday == cday && mmonth == cmonth && myear == cyear) {
          alert('Booking for today is impossible');
        }
        else if (myear >= cyear+1) {
          alert('We think booking till ' + myear + ' is not possible.');
        }
        else {
          alert('You cannot book for past!');
        }
        calendar.fullCalendar('unselect');
      },
      editable: true,
    });
  }); 
</script>
<div id='calendar'>
	<h4 style="text-align: center;"><strong>Note:</strong> Click on the desired day and leave your phone number.
We'll inform you the booking.</h4>
</div>

