#facebox {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  text-align: left;
  color: #FFF;
}

#facebox input, #facebox textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background: #2a0c28;
  color: #FFF;
  border-radius: 5px;
  border-style: none;
  width: 400px;
}
#facebox input[type="text"], #facebox input[type="password"] {
  padding: 5px 2px;
  font-weight: 100;
}

#facebox hr {
  background: #2a0c28;
  border-color: #2A0C28;
  opacity: 0.2;
}

#facebox input[type="submit"]{
  margin: 20px 0;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 100;
  cursor: hand;
  cursor: pointer;
  width: 100px;
}

#facebox input[type="submit"]:hover {
  font-weight: 300;
}

#facebox textarea {
  width: 400px;
}

#facebox h1, #facebox h2, #facebox h3, #facebox h4, #facebox h5, #facebox h6
{
  color: #FFF;
}
#facebox .popup{
  position:relative;
  border:3px solid #2a0c28;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 370px;
  padding: 20px 40px;
  background: #551950;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  color: #FFF;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox a {
  color: #FFF;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}