<style type="text/css">
	#feed-wrapper {
		width: 525px;
		height: auto;
		display: inline-block;
	}
	label {
		color: #FFF;
	}
	body {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
	}

</style>

<div id="feed-wrapper">
<h1> Feedback! </h1>
<%= render 'form', :inquiry => @inquiry %>
</div>
