<div id="menu-area">
	<div id="menu-wrapper">
		<div id="menu">
			<ul style="margin-bottom: 0px;">
				<li class="current_page_item"><a href="#" accesskey="1" title=""><img src="/images/home.png" /> Home</a></li>
				<li><a href="#" accesskey="2" title="">Gallery</a>
					<!--<ul>
						<li><a href="#">Our Staffs</a></li>
					</ul>-->
				</li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Contact Us</a></li>
			</ul>
		</div>	
	</div>
	<div id="triangle-up"></div>
</div>