<div id="menu-area">
	<div id="menu-wrapper">
		<div id="menu">
			<ul style="margin-bottom: 0px;">
				<li class="current_page_item">
					<div id="home" onclick="pageScrollUp('scroll-up','scroll-down','none','inline')">
						<a href="#" accesskey="1" title="">
							<span class="icon icon-home"> Home</span>
						</a>
					</div>
				</li>
				<li><a href="#" accesskey="2" title="">Gallery</a>
					<!--<ul>
						<li><a href="#">Our Staffs</a></li>
					</ul>-->
				</li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Contact Us</a></li>
			</ul>
			<div id="scroll-down" onclick="pageScrollDown('scroll-down','scroll-up','none','inline')">
				<span class="icon icon-arrow-down"></span>
			</div>
			<div id="scroll-up" onclick="pageScrollUp('scroll-up','scroll-down','none','inline')" style="display: none;">
				<span class="icon icon-arrow-up"></span>
			</div>
		</div>	
	</div>
	<!--<div id="triangle-up"></div>-->
	
</div>
<!--<div id="header-bottom"></div>-->
<style>
	#home {
		background: none;
	}
</style>
<script type="text/javascript">
</script>